<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:replace="template :: head">
</head>
<body>
<div class="container">

    <div id="top" th:include="template :: masthead"></div>

    <div id="middle">

        <p>Portfolio!</p>
        <table style="margin: auto">
        <tr><th>Stock</th><th>Symbol</th><th>Shares</th><th>Current Price</th><th>Total Value</th></tr>
        <tr th:each="holding : ${portfolio}">
        	<td style="padding-right: 2em" th:text="${holding[0]}"></td>
        	<td style="padding-right: 2em" th:text="${holding[1]}"></td>
        	<td style="padding-right: 2em" th:text="${holding[2]}"></td>
        	<td style="padding-right: 2em" th:text="'$' + ${holding[3]}"></td>
        	<td th:text="'$' + ${holding[4]}"></td>
		</tr>
	</table>
	<p th:text="'Total portfolio value: $' + ${#numbers.formatDecimal(portfolioValue, 0, 'DEFAULT', 2, 'DEFAULT')}"></p>
    </div>

    <div th:replace="template :: footer"></div>
</div>
</body>
</html>