<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:replace="template :: head">
</head>
<body>
<div class="container">

    <div id="top" th:include="template :: masthead"></div>

    <div id="middle">

        <p>Portfolio!</p>
        <table style="margin: auto">
        <tr><th style="padding-right: 2em">Stock</th>
        	<th style="padding-right: 2em">Symbol</th>
        	<th style="padding-right: 2em">Shares</th>
        	<th style="padding-right: 2em">Current Price</th>
        	<th>Total Value</th>
        </tr>
        <tr th:each="holding : ${portfolio}">
        	<td style="padding-right: 2em" th:text="${holding.name}"></td>
        	<td style="padding-right: 2em" th:text="${holding.symbol}"></td>
        	<td style="padding-right: 2em" th:text="${holding.sharesOwned}"></td>
        	<td style="padding-right: 2em" th:text="'$' + ${#numbers.formatDecimal(holding.currentValue, 0, 'DEFAULT', 2, 'DEFAULT')}"></td>
        	<td th:text="'$' + ${#numbers.formatDecimal(holding.totalValue, 0, 'DEFAULT', 2, 'DEFAULT')}"></td>
		</tr>
	</table>
	<br/>
	<h4 th:text="'Total portfolio value: $' + ${#numbers.formatDecimal(portfolioValue, 0, 'DEFAULT', 2, 'DEFAULT')}"></h4>
    </div>

    <div th:replace="template :: footer"></div>
</div>
</body>
</html>